<pre name="code" class="css">*{
    padding:0;
    margin:0;
}
body{
    width:100vw;
    height:100vh;
    background:linear-gradient(darkred 0%,black 100%);
}
#react{
    width: 45vw;
    height:45vw;
    margin: 35vw auto;
    transform-style:preserve-3d;
    animation:rotate 20s infinite;
    animation-timing-function: linear;
}
#react div{
    position:absolute;
    transition: all .4s;
}
div .out_pic{
    width: 45vw;
    height:45vw;
    opacity:0.9;
}
div .in_pic{
    width:22.5vw;
    height:22.5vw;
}
#react span{
    display:block;
    position:absolute;
    width:22.5vw;
    height:22.5vw;
    top:50px;
    left:50px;
}
@keyframes rotate{
    from{transform: rotateX(0deg) rotateY(0deg);}
    to{transform: rotateX(360deg) rotateY(360deg);}
}
  
  
.out_front{
    transform:translateZ(22.5vw);
}
.out_back{
    transform:translateZ(-22.5vw);
}
.out_left{
    transform:rotateY(90deg) translateZ(22.5vw);
}
.out_right{
    transform: rotateY(-90deg) translateZ(22.5vw);
}
.out_top{
    transform:rotateX(90deg) translateZ(22.5vw);
}
.out_bottom{
    transform: rotateX(-90deg) translateZ(22.5vw);
}
.in_front{
    transform:translateZ(50px);
}
.in_back{
    transform:translateZ(-50px);
}
.in_left{
    transform:rotateY(90deg) translateZ(50px);
}
.in_right{
    transform: rotateY(-90deg) translateZ(50px);
}
.in_top{
    transform:rotateX(90deg) translateZ(50px);
}
.in_bottom{
    transform: rotateX(-90deg) translateZ(50px);
}
  
/*外面的图片散开*/
#react:hover .out_front{
    transform:translateZ(45vw);
}
#react:hover .out_back{
    transform:translateZ(-45vw);
}
#react:hover .out_left{
    transform:rotateY(90deg) translateZ(45vw);
}
#react:hover .out_right{
    transform: rotateY(-90deg) translateZ(45vw);
}
#react:hover .out_top{
    transform:rotateX(90deg) translateZ(45vw);
}
#react:hover .out_bottom{
    transform: rotateX(-90deg) translateZ(45vw);
}
  
  
/*里面的图片散开*/
#react:hover .in_front{
    transform:translateZ(22.5vw);
}
#react:hover .in_back{
    transform:translateZ(-22.5vw);
}
#react:hover .in_left{
    transform:rotateY(90deg) translateZ(22.5vw);
}
#react:hover .in_right{
    transform: rotateY(-90deg) translateZ(22.5vw);
}
#react:hover .in_top{
    transform:rotateX(90deg) translateZ(22.5vw);
}
#react:hover .in_bottom{
    transform: rotateX(-90deg) translateZ(22.5vw);
}
  
@charset "utf-8";
/* CSS Document */

